/* @group Imports */
@import url(kube.css);
/* @end */


/* @group Fonts */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200italic,200,400italic,600,600italic,100,100italic,300,300italic,500,500italic,700,700italic,800,800italic,900,900italic&subset=latin,cyrillic,latin-ext);
/* @end */


/* @group Typography */
body {
	font-family: 'Exo 2', sans-serif;
	background: rgba(253, 253, 253, 1);
	font-size: 14px;
	padding: 0 20px;
}

h1, h2, h3, h4 {
	font-family: 'Exo 2', sans-serif;
}

.lead {
	font-size: 2em;
	font-weight: 100;
	color: #bbb;
}
/* @end */


/* @group Header */
header {
	padding: 30px 45px 33px;
}

header .logo-place {
	font-size: 12px;
	padding-left: 107px;
	position: relative;
}

header .logo-place .logo {
	width: 85px;
	height: 85px;
	line-height: 83px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	font-family: 'Exo 2', sans-serif;
	font-size: 45px;
	text-align: center;
	background-color: #75a95a;
	position: absolute;
	left: 0px;
	top: -2px;
	border-radius: 3px;
}

header .logo-place h1 {
	font-size: 3em;
	margin: 0em;
	font-weight: 200;
	color: #777;
}

header .logo-place p {
	margin: 0;
}
/* @end */


/* @group General */
.table-container {
	margin: 0 auto;
	min-width: 1150px;
	max-width: 1440px;
}

.elements {
	padding: 25px 22px 35px 45px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	background: #fff;
}
/* @end */


/* @group Col unit sizes */
.unit-1 {
	width: 8.090909%;
	margin: 0 1% 0 0;
}

.unit-2 {
	width: 17.181818%;
	margin: 0 1% 0 0;
}

.unit-3 {
	width: 26.272727%;
	margin: 0 1% 0 0;
}

.unit-4 {
	width: 35.363636%;
	margin: 0 1% 0 0;
}

.unit-5 {
	width: 44.454545%;
	margin: 0 1% 0 0;
}

.unit-6 {
	width: 53.545454%;
	margin: 0 1% 0 0;
}

.unit-7 {
	width: 62.636363%;
	margin: 0 1% 0 0;
}

.unit-8 {
	width: 71.727272%;
	margin: 0 1% 0 0;
}

.unit-9 {
	width: 80.818181%;
	margin: 0 1% 0 0;
}

.unit-10 {
	width: 89.90909%;
	margin: 0 1% 0 0;
}

.unit-11 {
	width: 100%;
	margin: 0;
}
/* @end */


/* @group Header */
.elements .header-row {
	padding: 10px 10px 12px;
}

.elements .header-row .col-num {
	float: left;
	height: 30px;
}

.elements .header-row .col-num span {
	display: block;
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 300;
	color: #ccc;
	border-radius: 3px;
	border: 1px solid rgba(166, 207, 239, 0);
	
	-webkit-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.elements .header-row .col-num.hl span {
	border-color: rgba(166, 207, 239, 0.5);
	color: rgb(166, 207, 239);
}

.elements .header-row .col-num span i {
	position: absolute;
	opacity: 0;
	right: 7px;
	text-align: right;
	font-style: normal;
	
	-webkit-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.elements .header-row .col-num.hl span i {
	opacity: 1;
}
/* @end */


/* @group Rows and nums layout */
.elements .period-row {
	padding: 9px 10px 10px;
	border-radius: 4px;
	border: 1px solid rgba(221, 221, 221, 0);
	margin: 0;
	margin-top: -1px;
	position: relative;
}

.elements .period-row .period-name {
	width: 84px;
	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
	-webkit-transform-origin: left top;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 3px 3px 0 0;
	  
	font-weight: 200;
	font-size: 1em;
	position: absolute;
	height: 24px;
	line-height: 24px;
	left: -25px;
	top: 50%;
	margin-top: 42px;
	border: 1px solid rgba(221, 221, 221, 0);
	border-bottom: none;
	background: #fff;
	text-align: center;
	color: rgba(204, 204, 204, 0);
	z-index: 2;
	display: block;
	color
}

.elements.period-hover-enabled .period-row:hover {
	border-color: rgba(221, 221, 221, 1);
}

.elements.period-hover-enabled .period-row:hover .period-name {
	border-color: rgba(221, 221, 221, 1);
	color: rgba(204, 204, 204, 1);
}

.elements .row-height {
	height: 90px; /* Overall elements height in a row */
}

.elements .row {
	clear: both;
	text-align: center;
	position: relative;
	margin-left: 46px;
}

.elements .row .row-num {
	position: absolute;
	left: -46px;
	width: 36px;
	line-height: 90px; /* Value must be the same with a .row-height height */
}

.elements .row .row-num span {
	border-radius: 3px;
	border: 1px solid transparent;
	color: #ccc;
	display: block;
	font-size: 1.25em;
	font-weight: 300;
	-webkit-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.elements .row .row-num.hl span {
	border-color: rgba(166, 207, 239, 0.5);
	color: rgb(166, 207, 239);
}

.elements .row-breaker {
	height: 20px;
}
/* @end */

/* @group Element type colors */
.element-type-s {
	color: #FF669A;
}

.element-type-p {
	color: #FFD900;
}

.element-type-d {
	color: #5BC8FF;
}

.element-type-fl {
	color: #FFD900;
}

.element-type-fa {
	color: #FFD900;
}
/* @end */

/* @group Element */
.elements .element {
	float: left;
}

.elements .element a {
	border: 1px solid rgba(211, 211, 211, 0.5);
	display: block;
	height: 100%;
	border-radius: 3px;
	text-decoration: none;
	color: #777;
	text-align: center;
	position: relative;
	z-index: 3;
	background: rgba(254, 254, 254, 1);
	
	-webkit-transition: all 150ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 150ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition: all 150ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition: all 150ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.elements .element a:hover {
	border: 1px solid rgba(12, 172, 254, 0.69);
	opacity: 1;
}

.elements .element a .sub {
	position: absolute;
	top: -1px;
	right: 5px;
	text-align: right;
	font-weight: 200;
	font-size: 0.85em;
	color: rgba(190, 190, 190, 1);
}

.elements .element a .name {
	font-size: 3em;
	display: block;
	padding: 20px 0 10px;
	font-weight: 500;
}

.elements .element a .title {
	font-size: 0.9em;
	display: block;
	font-weight: 300;
}

.elements .element a .number {
	position: absolute;
	top: -1px;
	left: 5px;
	font-weight: 200;
	font-size: 0.85em;
	color: rgba(190, 190, 190, 1);
}

.elements .element a .mass {
	font-size: 0.7em;
	display: block;
	font-weight: 200;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	color: rgba(190, 190, 190, 1);
	opacity: 1;
}

.elements .element a:hover {
	z-index: 10;
}


.elements .spacer,
.elements .disabled {
	float: left;
	position: relative;
}

.elements .spacer:after,
.elements .disabled:after {
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	background: rgba(245, 245, 245, 1);
	border-radius: 8px;
}

.elements .spacer a,
.elements .disabled a {
	-webkit-transition: all 300ms cubic-bezier(0.925, 0, 0.735, 0.045); /* older webkit */
	-webkit-transition: all 300ms cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	   -moz-transition: all 300ms cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	     -o-transition: all 300ms cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	        transition: all 300ms cubic-bezier(0.925, -0.200, 0.735, 0.045); /* custom */
	
	-webkit-transition-timing-function: cubic-bezier(0.925, 0, 0.735, 0.045); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	   -moz-transition-timing-function: cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	     -o-transition-timing-function: cubic-bezier(0.925, -0.200, 0.735, 0.045); 
	        transition-timing-function: cubic-bezier(0.925, -0.200, 0.735, 0.045); /* custom */
	        
	transform: scale(0) rotate(150deg);
	-ms-transform: scale(0) rotate(150deg);
	-webkit-transform: scale(0) rotate(150deg);
}
/* @end */


/* @group Animations */
.all-300-ease-out-cubic {
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
/* @end */